GROQ_API_KEY=
# HUGGINGFACE_API_TOKEN=
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION_NAME=
EMBEDDING_API_URL=
COHERE_API_KEY=
OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_MODEL_PROVIDER=openai
GENERATION_MODEL=gpt-4.1
GENERATION_MODEL_PROVIDER=openai
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=rag-tracing